.contacts {
  &__content {
    @extend %contentRules;
  }
  &__form {
    display: flex;
    flex-direction: column;

    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
  &__name,
  &__email {
    margin-bottom: 16px;
    padding-left: 16px;
    height: 48px;
    background: #f8f8fa;
    border-radius: 8px;
    border: 0px solid #bbb;

    &:hover {
      border: 1px solid #bbb;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #333;
    }
  }

  &__message {
    font-family: "Space Grotesk", sans-serif;
    padding: 14px 16px;
    margin-bottom: 32px;
    height: 148px;
    background: #f8f8fa;
    border-radius: 8px;
    resize: none;
    border: 0px solid #bbb;

    &:hover {
      border: 1px solid #bbb;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #333;
    }
  }
  &__button {
    cursor: pointer;
  }

  &__info-block {
    margin-bottom: 24px;
  }
  &__type {
    display: block;
    margin-bottom: 8px;
    color: #9fadc2;
  }
  &__value {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #3e3e3e;
  }
}
