.page {
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;


  &__body {
    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition-duration: 300ms;
    overflow-y: scroll;

    &:target {
      transform: translateX(0);
    }
  }
  &__section {
    margin-bottom: 120px;
    &-title {
      max-width: 496px;
      margin-bottom: 64px;
      font-weight: 700;
      color: $mainDarkColor;

      font-size: 32px;
      text-align: left;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesctop {
        max-width: 585px;
        font-size: 48px;
      }
    }
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}
